@*首页-右侧-用户面板*@
@*1.用户未登录*@
@*2.显示已登录用户信息*@
@*3.显示主题发布用户信息*@
<p>右侧面板</p>
<div>
    您可以
    <a href="http://cnodejs.org/signin">登录</a>
    或
    <a href="http://cnodejs.org/signup">注册</a>
    , 也可以
    <a href="http://cnodejs.org/auth/github">
        <span class="span-info">
            通过 GitHub 登录
        </span>
    </a>
</div>