@*首页-头部-右侧导航菜单*@
@*1.用户未登陆*@
@*2.用户已登录*@
<li><a href="http://cnodejs.org/">首页</a></li>
<li><a href="http://cnodejs.org/getstart">新手入门</a></li>
<li><a href="http://cnodejs.org/api">API</a></li>
<li><a href="http://cnodejs.org/about" target="">关于</a></li>
<li><a href="http://cnodejs.org/signup">注册</a></li>
<li><a href="http://cnodejs.org/signin">登录</a></li>